language: haxe
sudo: true

haxe:
- development
- 3.4.7
- 3.4.2

before_install:
#install php 7.2 on ubuntu trusty
- sudo add-apt-repository ppa:ondrej/php -y
- sudo apt-get update
- sudo apt-get install -y php7.2
#create database in mysql5.6
- mysql -e 'CREATE DATABASE IF NOT EXISTS test;'

services:  
  - mysql

install:
- haxelib install all --always
- haxelib dev record-macros .

script:
- haxe test.hxml
- neko test.n mysql://travis:@127.0.0.1/test
- php -v
- haxe testPHP.hxml
- php index.php mysql://travis:@127.0.0.1/test
